
.container {
  width: 720px;
  margin: 0 auto;
  border: 1px solid black;
}

/*.list {
  display: flex;
}*/

h1 {
  padding-bottom: 20px;
}

.form {
  /*border: 1px solid black;*/
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px
}

.intro {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px
}