<h2>Stats</h2>
<ul>
  <li id="housing"></li>
  <li id="cost-of-living"></li>
  <li id="startups"></li>
  <li id="venture-capital" ></li>
  <li id="travel"></li>
  <li id="commute"></li>
  <li id="freedom"></li>
  <li id="safety"></li>
  <li id="healthcare"></li>
  <li id="education"></li>
  <li id="environment"></li>
  <li id="economy"></li>
  <li id="taxation"></li>
  <li id="internet"></li>
  <li id="leisure"></li>
  <li id="tolerance"></li>
  <li id="outdoors"></li>
</ul>
