<a class="teleport-widget-link" href="https://teleport.org/cities/aarhus/">Job salary calculator - Aarhus</a><script async class="teleport-widget-script" data-url="https://teleport.org/cities/<%= @city %>/widget/salaries/?currency=USD" data-max-width="770" data-height="727" src="https://teleport.org/assets/firefly/widget-snippet.min.js"></script>

