<a class="teleport-widget-link" href="https://teleport.org/cities/aarhus/">Job salary calculator - <%= @city %></a><script async class="teleport-widget-script" data-url="https://teleport.org/cities/<%= @city %>/widget/salaries/?currency=USD&citySwitcher=false" data-max-width="420" data-height="857" src="https://teleport.org/assets/firefly/widget-snippet.min.js"></script>

