<div class="form">
<form id="find-city" action="/cities" method="post">
  <label for="city">City Name:</label>
  <input type="text" name="city"></input>

  <input type="submit" value="Check Stats">
</form>
</div>

<div class="list">
  <ul class="list_unstyled">
  </ul>
</div>

