<div class="intro">
  <h1>Find Your Ideal City To Work In</h1>
  <p>Enter in the name of a prospective city to see how it ranks in different lifestyle categories on a scale of 1 to 10</p>
</div>


  <div class="form">
  <form id="find-city" action="/cities" method="post">
    <label for="city">City Name:</label>
    <input type="text" name="city"></input>

    <input type="submit" value="Check Stats">
  </form>
  </div>

<div class="info">
  <div class="list">
    <ul class="list_unstyled">
    </ul>
  </div>
  <div class="widget">
  </div>
</div>


